.nav{
    display: flex;
    justify-content: space-between;
    background-color: #99b331;
    align-items: center;
    height: fit-content;
    padding: 10px;
    border-bottom: 2px solid black;
}


.nav-menu{
    background-color:  #99b331;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.3s;
    overflow: hidden;
}
.nav-menu.open{
    background-color: white;
    border: 2px solid black;
    font-weight: bolder;
    height: fit-content;
    
}

.nav-title{
    text-align: center;
    flex-grow: 1;
}

.open-menu{
    list-style-type: square;
    
}

.close{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    cursor: pointer;
}

.hamburger-menu{
    cursor: pointer;
}